<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link rel="stylesheet"  href="{{ url_for('static', filename='../static/css/navbar.css') }}">
    </head>
    {% block content %}
<body>
    <div class="navbar navbar-default navbar-static-top " role="navigation">
        <div class="container-fluid d-inline ">
            <a href="/" class="header_logo navbar-brand mx-3 mt-0">Pitch</a>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav d-inline">
                    <li id="home" class=" mx-3 d-block">
                        <a href="/">Home</a>
                    </li>
                    <li id="about" class=" mx-3 d-block">
                        <a href="#">About</a>
                    </li>
                    <li id="contacts" class=" mx-3 d-block">
                        <a href="#">Contacts</a>
                    </li>
                </ul>
                <div class="navbar navbar-nav navbar-right signlog d-inline">
                    {% if current_user.is_authenticated %}
                    <h4 class="d-inline">{{ current_user.username }} </h4>
                    <img src="../static/images/profile.png" alt="user ppic" height="50px" width="50px" class="d-inline">
                    <div class="my-auto mx-3 signout d-inline">
                        <a href="{{url_for('main.createpitch')}}" class="btn btn-primary ">Create New Pitch</a>
                    </div>
                    <div class="my-auto mx-3 signout d-inline">
                        <a href="{{url_for('auth.logout')}}" class="btn btn-primary ">Sign out</a>
                    </div>
                    {% else %}
                    <div class="my-auto mx-3 signup d-inline">
                        <a href="{{url_for('auth.signup')}}" class="btn btn-success ">Sign Up</a>
                    </div>
                    <div class="my-auto mx-3 login d-inline">
                        <a href="{{url_for('auth.login')}}" class="btn btn-primary">
                            Log In
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}