<!-- {% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

<!-- Content block -->
<!-- {% block content %}
   <title> {{ title }} </title>
   
   <div class="container">

       <div class="row">
           
           <div class="col-md-2 col-lg-2">
               
           </div>

           <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8">
           
               {{ wtf.quick_form(upvote_form) }}
               
           </div>

           <div class="col-md-2 col-lg-2">
               
           </div>

       </div>
   </div>
{% endblock %} --> -->